*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sky{
    background-color: lightblue;
    height: 30vh;
}
.grass{
    background-color: green;
    height: 20vh;
}
.road{
    height: 50vh;
    background-color: #242323;
    display: flex;
    align-items: center;
}
.road .lines{
    width: 100%;
    border: 5px dashed white;
}
.manjo{
    position: absolute;
    width: 100px;
    animation-name: drive;
    animation-duration: 3s;

    /* forwards, backwords, both */
    animation-fill-mode: forwards; 

    /* To do delay animation */
    animation-delay: 2s;

    /* To repeat animation 'infinite' or 'count'*/
    animation-iteration-count: 3;
}

@keyframes drive{
    from{transform: translateX(100px);}
    to{transform: translateX(500px);}
}